@import url(https://fonts.googleapis.com/css?family=Noto+Sans+JP);

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 18px;
  background-color: #fffaf0;
}

a {
  display: inline-block;
  color: #696969;
  text-decoration: none;
}

a:hover {
  color: #01bfbd;
  cursor: pointer;
}

.nav-item {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: 0.5s;
}

.nav-item:hover > .dropdown-menu {
  overflow: visible;
  opacity: 1;
}

.wrapper-navbar {
  border-bottom: 1px solid #dcdcdc;
}

.navbar {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 120px;
  width: 120px;
}

.create-habit,
.habit-wrapper {
  margin-top: 20px;
}

.create-habit {
  width: 80%;
  margin: 0 auto;
  text-align: right;
  padding: 20px;
}

.habit-wrapper {
  padding: 0px 50px 50px;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
}

.habit-box {
  width: 300px;
  margin-left: 120px;
  padding: 20px;
  border: 6px solid #3cb371;
  border-radius: 240px 15px 100px 15px / 15px 200px 15px 185px;
  box-shadow:5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.habit-box:nth-child(3n+1) {
  margin-left: 0px;
}

.habit-box:nth-child(n+4) {
  margin-top: 30px;
}

.habit-show {
  width: 100%;
}

.habit-table {
  border-collapse: separate;
  border-spacing: 20px;
}

.habit-table tr:nth-child(-n+3) {
  font-size: 22px;
  font-weight: bold;
}

.habit-table td {
  text-align: center;
}

.fa-edit {
  color: #c81c14;
}

.fa-trash-alt {
  color: #c81c14;
}

.pager {
  padding: 22px 40px 22px 0;
  text-align: center;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  border-radius: 4px;
}

.pagination > li {
  display: inline;
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.6;
  text-decoration: none;
  color: #3097D1;
  background-color: #fff;
  border: 1px solid #ddd;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > span:hover,
.pagination > li > span:focus {
  z-index: 2;
  color: #216a94;
  background-color: #eeeeee;
  border-color: #ddd;
}

.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  background-color: #3097D1;
  border-color: #3097D1;
  cursor: default;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777777;
  background-color: #fff;
  border-color: #ddd;
  cursor: default;
}
